[nessus]
url = "https://localhost:8834"  # Take note for Docker (e.g. to use `host.docker.internal` for Windows)
username = "admin"
password = "admin"
access_key = "{NESSUS API ACCESS KEY}"
secret_key = "{NESSUS API SECRET KEY}"

[llm]
google_api_key = "{GOOGLE CLOUD API KEY}"
model = "gemini-2.5-pro-preview-05-06"

[dev]
ssl_verify = true          # Can set to false for development purposes
headless_operator = true   # Can set to false for development purposes

